<nav class="navbar d-flex justify-content-center align-items-center container mt-2">
    <div class="col-sm-7">
        <input 
            class="form-control" 
            type="search" placeholder="Search Name.." 
            #search (input) = 'searchName(search)'
        >
    </div>
</nav>

<ul class="list-group d-flex justify-content-center align-items-center mt-3">
  <div>
    <p *ngIf='posts.data.length == 0'>no item present here..</p>
    <p *ngIf='isLoading'>Loading..</p>
  </div>
  
    <li class="list-group-item"
        *ngFor="let d of posts.data"
    >
        <div class="card m-3 p-3" style="width: 600px;">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="{{d.picture}}" alt="user image" class="rounded">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h6 style="display: inline;">{{d.title}}</h6>
                  <h5 style="display: inline;"> {{d.firstName}} {{d.lastName}}</h5>

                  <p class="card-text mt-2">{{d.email}}</p>
    
                </div>
              </div>
            </div>
          </div>
          
    </li>
</ul>